input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
  --background-color: #ffffff;
  --background-content-color: #F8F8F8;
  --background-grid-color: #D9D9D933;
  --background-hover-color: #E2E7EB33;
  --text-color: #171717;
  --title-color: #171717CC;
  --section-title-color: #2B73FF;
  --border-color: 1px solid #EAECF0;
}

.dark {
    --background-color: #2d2d30;
    --background-content-color: #19191c;
    --background-grid-color: #1B1B1B;
    --background-hover-color: rgba(255, 255, 255, 0.05);
    --text-color: #FFFFFF;
    --title-color: #FFFFFF;
    --section-title-color: #5c67f7;
    --border-color: 1px solid rgba(255, 255, 255, 0.1);
  }